<!DOCTYPE html>
<html>
<head>
    <title>Fill out your favourite artists </title>
</head>
<body>

<form action="/songlist" method="post">
<input type="text" name="username" value="{{user.user_name}}"hidden>

    Field1:<br>
    <input type="text" name="Field1" required><br>
    Field2:<br>
    <input type="text" name="Field2" required><br>
    Field3:<br>
    <input type="text" name="Field3" required><br>
    Field4:<br>
    <input type="text" name="Field4" required><br>
    Field5:<br>
    <input type="text" name="Field5" required><br>
    <input type="submit">
</form>


</body>
</html>




